.reviewContainer{
    background-color: cornflowerblue;
}
.reviewHeader {
    background-color:white;
    cursor: pointer;
    width: 100%;
    border-bottom-color: #D3D3D3;
    border-bottom-style: solid;
    border-width: 2;
    transition: 1s;
    display:flex;
    align-items: flex-start;
    padding: 10px;
}
.reviewHeaderText {
    color: #444;
    font-size: 20px;
}
.reviewColumn{
    font-size:18px;
}
.iconColumn{
    width: 5%;
}
.clientColumn{
    width: 20%;
    color: #04C5F0;
}

.programColumn{
    width: 20%;
}
.statusColumn{
    width: 15%;

}
.partCountColumn{
    width: 20%;
}
.dateColumn{
    width: 20%;
}

.reviewBodyActive {
    display: block;
    background-color: white;
    transition: display 1s;
}
.reviewBodyInactive {
    display: none;
    background-color: #D3D3D3;
    transition: display 1s;
}
.material-icons{
    color: yellow;
}
